#NUIMO_SIGNALS

NUIMO_BATTERY:
{
  limit    = 10;
  BATTERY_LEVEL:
  {
    command  = "echo \"Battery runs low! This message will end nowhere; replace it by mailto ;-)\"";
  };
};
  
NUIMO_BUTTON:
{
  BUTTON_PRESS:
  {
  command  = "mpc toggle";
  reaction = ( { regex   = "^\[playing\]";
                 pattern = "041870e0c1870707060400"; },
               { regex   = "^\[paused\]";
	         pattern = "eedcb973e7ce9d3b77ee00"; },
               { regex   = "^\[stop\])";
		 pattern = "FEFCF9F3E7CF9F3F7FFE00"; } );
  };
};

NUIMO_FLY:
{

};

NUIMO_SWIPE:
{
  SWIPE_LEFT:
  {
    command  = "mpc prev";
    reaction = ( { regex   = "";
                   pattern = "42c4c8d1e3478f1c314200"; } );
  };
  SWIPE_RIGHT:
  {
  command  = "mpc next";
  reaction = ( { regex   = "";
                 pattern = "841871e2c58f1727468400"; } );
  };
};


NUIMO_ROTATION:
{
  threshold   = 20;
  ROTATION_LEFT:
  {
  command   = "mpc volume +2";
  reaction  = ( { regex   = "^volume: [[:digit:]]%   ";
                 pattern = "0104104400114455400001"; },
               { regex   = "^volume: 1[[:digit:]]%   ";
                 pattern = "0000000400104055000000"; },
       	       { regex   = "^volume: 2[[:digit:]]%   ";
                 pattern = "000000040010c055000000"; },
	       { regex   = "^volume: 3[[:digit:]]%   ";
                 pattern = "000000040090c055000000"; },
	       { regex   = "^volume: 4[[:digit:]]%   ";
                 pattern = "000000040090c157000000"; },
	       { regex   = "^volume: 5[[:digit:]]%  ";
                 pattern = "000000040091c357000000"; },
               { regex   = "^volume: 6[[:digit:]]%   ";
                 pattern = "000000040093c75f000000"; },
      	       { regex   = "^volume: 7[[:digit:]]%  ";
                 pattern = "000000040297cf5f000000"; },
               { regex   = "^volume: 8[[:digit:]]%   ";
                 pattern = "00000004069fdf7f000000"; },
	       { regex   = "^volume: 9[[:digit:]]% "  ;
                 pattern = "000000040e9fff7f000000"; } );
  };
  ROTATION_RIGHT:
  {
    command  = "mpc volume -2";
    reaction = ( { regex   = "^volume: [[:digit:]]%   ";
                   pattern = "0104104400114455400001"; },
		 { regex   = "^volume: 1[[:digit:]]%   ";
                   pattern = "0000000400104055000000"; },
		 { regex   = "^volume: 2[[:digit:]]%   ";
                   pattern = "000000040010c055000000"; },
		 { regex   = "^volume: 3[[:digit:]]%   ";
                   pattern = "000000040090c055000000"; },
		 { regex   = "^volume: 4[[:digit:]]%   ";
                   pattern = "000000040090c157000000"; },
		 { regex   = "^volume: 5[[:digit:]]%   ";
                   pattern = "000000040091c357000000"; },
		 { regex   = "^volume: 6[[:digit:]]%   ";
                   pattern = "000000040093c75f000000"; },
		 { regex   = "^volume: 7[[:digit:]]%   ";
                   pattern = "000000040297cf5f000000"; },
		 { regex   = "^volume: 8[[:digit:]]%   ";
                   pattern = "00000004069fdf7f000000"; },
		 { regex   = "^volume: 9[[:digit:]]%   ";
                   pattern = "000000040e9fff7f000000"; } );
  };
};
